@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-dark: rgb(29, 35, 42);
}

html,
body {
  height: 100%;
  margin: 0;
}
main {
  margin: 0px auto 5% auto;
  padding: 0 2%;
  width: 100%;
  max-width: 72rem;
  z-index: 10;
  /* position: relative; */
  /* background-color: transparent; */
  overflow-y: auto;
}

img {
  max-width: 100%;
}

nav {
  z-index: 20;
}
h1 {
  font-size: 2.5em;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0; /* Ensure it starts from the very left of the viewport */
  right: 0; /* Stretch to cover the entire width of the viewport */
  bottom: 0; /* Stretch to cover the entire height of the viewport */
}
#background {
  background-image: url("/camp-7103189_1920.png");
}

#background2 {
  background-image: url("/shooting-star-2024127_1920.png");
  background-color: rgba(29, 35, 42, 0.7);
}

#background3 {
  background-image: url("/moon.jpg");
}
#background4 {
  background-image: url("/forest-5375005.jpg");
}

/* modal */
.custom_modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 35, 42, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_modal {
  background-color: rgb(78, 78, 78);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  position: relative;
  color: white;
  /* color: gray; */
}

.modal_close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
textarea {
  font-weight: normal;
}

/* @media (min-width: 72rem) {
  main {
    padding: 0;
  }
} */
/* Book Card */
.book-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #e2e8f0;
  background-color: rgba(59, 60, 62, 0.5);
  transition: background-color 0.3s ease;
}

.book-card:hover {
  background-color: rgba(31, 41, 55, 0.6);
}

.figure {
  width: 150px;
  margin: 0;
  flex-shrink: 0;
}

.figure img {
  width: 100%;
  height: auto;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.author {
  margin: 0;
}

.status-read {
  color: #ef4444; /* Tailwind's red-500 */
}

.status-not-read {
  color: #22c55e; /* Tailwind's green-500 */
}

.genre {
  padding-top: 8px;
  border-top: 1px solid #475569; /* Tailwind's slate-500 */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 8px;
}

.btn-free {
  padding: 4px 8px;
  background-color: #3b82f6; /* Tailwind's blue-500 */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.875rem; /* Tailwind's text-xs */
  line-height: 1.25rem;
}

.text-end {
  text-align: right;
  margin-bottom: 12px;
}

.author-list li:not(:last-child)::after {
  content: ",";
}
